<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147135487679-dnp0t8fodafna06474bohjjdpk145iqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147135487679-dnp0t8fodafna06474bohjjdpk145iqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBMeR96tU56uqV3Ia5Wa_9W_uJAXJp5yJk</string>
	<key>GCM_SENDER_ID</key>
	<string>147135487679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apolloplanet.beecoloring</string>
	<key>PROJECT_ID</key>
	<string>beecoloring-6b0db</string>
	<key>STORAGE_BUCKET</key>
	<string>beecoloring-6b0db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147135487679:ios:893066675901411c76f00a</string>
</dict>
</plist>